extends ../shell.pug

block assets
	script(type="text/javascript" src="index.js")
	link(rel="stylesheet" href="index.css")

block seo
	title The Photo Shop
	meta(name="description" content="The Photo Shop")

block content

	.hero
		.section
			h1 The Photo Shop

	.intro
		.section.padded
			p.col-1.
				These are some of my Instagram photos, composition and chill is what drives my photography.
			p.col-1.
				What interests me when I point my phone at a view - is the idea of sharing something simple and
				compelling. There are almost no people in these photos and nothing exceptional really, just nice views.
			p.col-1.
				Humans are beautiful in motion, action and the wisdom of their silence. In my eyes - portraits and
				selfies especially, can only harm our ability to see beauty in others. Scenes and landscapes, on the other hand, are still by definition. They have no story to tell, we are left with the weather report.


	.gallery.section.padded
		.col-1-3
			img(src="/insta/001.jpg")
		.col-1-3
			img(src="/insta/002.jpg")
		.col-1-3
			img(src="/insta/003.jpg")
		.col-1-3
			img(src="/insta/004.jpg")
		.col-1-3
			img(src="/insta/005.jpg")
		.col-1-3
			img(src="/insta/006.jpg")
		.col-1-3
			img(src="/insta/007.jpg")
		.col-1-3
			img(src="/insta/008.jpg")
		.col-1-3
			img(src="/insta/009.jpg")
		.col-1-3
			img(src="/insta/010.jpg")
		.col-1-3
			img(src="/insta/011.jpg")
		.col-1-3
			img(src="/insta/012.jpg")